# Introduction to Scikit-Learn(sklearn)

This notebook demonstrates of some of most useful fuctions

#### Let's listify the contents
* **0. An end-to-end Scikit-Learn workflow,**
* **1. Getting the data ready,**
* **2. Choose the right estimator/algorithm for our problems,**
* **3. Fit the model/algorithm and use it to make predictions on our data,**
* **4. Evaluating a model,**
* **5. Improve a model,**
* **6. Save and load a trained model,**
* **7. Putting it all together**

In [33]:
# Standard import
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

## **0. An end-to-end Scikit-Learn workflow**

In [34]:
# 1.setting the data ready
import pandas as pd
heart_disease = pd.read_csv('../heart-disease.csv')

heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1   37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2   41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3   56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4   57    0   0       120   354    0        1      163      1      0.6      2   0     2       1

In [35]:
# Create X (features matrix)
X = heart_disease.drop('target', axis=1)

# create y (labels)
y = heart_disease['target']

In [36]:
# 2.Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier # it gives machine to learn
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [37]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

                                                          # 80 % data used for training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
                                    # this returns in tuple to unpack it we use for variables

# splits X test & y test - testing data , X train & y train training data

In [38]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [39]:
X_test

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
288   57    1   0       110   335    0        1      143      1      3.0      1   1     3
293   67    1   2       152   212    0        0      150      0      0.8      1   0     3
196   46    1   2       150   231    0        1      147      0      3.6      1   0     2
215   43    0   0       132   341    1        0      136      1      3.0      1   0     3
213   61    0   0       145   307    0        0      146      1      1.0      1   0     3
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
146   44    0   2       118   242    0        1      149      0      0.3      1   1     2
161   55    0   1       132   342    0        1      166      0      1.2      2   0     2
164   38    1   2       138   175    0        1      173      0      0.0      2   4     2
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2

[61 rows x 13 columns]

In [40]:
# make a prediction
y_label = clf.predict(np.array([0, 2, 4, 6]))

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 4. 6.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [52]:
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1], dtype=int64)

In [53]:
y_test

288    0
293    0
196    0
215    0
213    0
      ..
146    1
161    1
164    1
299    0
1      1
Name: target, Length: 61, dtype: int64

In [54]:
# 4. Evaluate the model on training data
clf.score(X_train, y_train)

1.0

In [66]:
clf.score(X_test, y_test)

0.9016393442622951

In [69]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.91      0.84      0.87        25
           1       0.89      0.94      0.92        36

    accuracy                           0.90        61
   macro avg       0.90      0.89      0.90        61
weighted avg       0.90      0.90      0.90        61

In [70]:
confusion_matrix(y_test, y_preds)

array([[21,  4],
       [ 2, 34]], dtype=int64)

In [71]:
accuracy_score(y_true=y_test, y_pred=y_preds)

0.9016393442622951

In [75]:
# 5. Improve the model
# Try different amount of n_estimators
np.random.seed(0)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators..')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)  
    print(f'Model accuaracy on test set: {clf.score(X_test, y_test) * 100:.2f}%')
    print()                                                           # rounding to 2 decimals

Trying model with 10 estimators..
Model accuaracy on test set: 83.61%

Trying model with 20 estimators..
Model accuaracy on test set: 88.52%

Trying model with 30 estimators..
Model accuaracy on test set: 90.16%

Trying model with 40 estimators..
Model accuaracy on test set: 90.16%

Trying model with 50 estimators..
Model accuaracy on test set: 90.16%

Trying model with 60 estimators..
Model accuaracy on test set: 88.52%

Trying model with 70 estimators..
Model accuaracy on test set: 88.52%

Trying model with 80 estimators..
Model accuaracy on test set: 86.89%

Trying model with 90 estimators..
Model accuaracy on test set: 86.89%

In [89]:
# Save a model and load it
import pickle

pickle.dump(obj=clf, file = open('random-forest-generator-model.pkl', 'wb'))

In [90]:
# loading the model
loaded_model = pickle.load(file = open('./random-forest-generator-model.pkl', 'rb'))
loaded_model.score(X_test, y_test)

0.8688524590163934

## 1. Getting our data ready to be used with machine learning

Three main things we have to do:

    1. Split the data into features and labels (usually 'X' and 'y')
    
    2. Filling (also called imputing) or disregarding the missing values
    
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [103]:
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1   37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2   41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3   56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4   57    0   0       120   354    0        1      163      1      0.6      2   0     2       1

In [92]:
X = heart_disease.drop(columns='target', axis=1) # features

In [93]:
y = heart_disease['target'] # labels

In [97]:
# Split the data into traning and test sets
from sklearn.model_selection import train_test_split
train_test_split(X, y, test_size=0.2)

#Split arrays or matrices into random train and test subsets

[     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
 142   42    0   2       120   209    0        1      173      0      0.0      1   0     2
 121   59    1   0       138   271    0        0      182      0      0.0      2   0     2
 114   55    1   1       130   262    0        1      155      0      0.0      2   0     2
 14    58    0   3       150   283    1        0      162      0      1.0      2   0     2
 109   50    0   0       110   254    0        0      159      0      0.0      2   0     2
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
 302   57    0   1       130   236    0        0      174      0      0.0      1   1     2
 25    71    0   1       160   302    0        1      162      0      0.4      2   2     2
 11    48    0   2       130   275    0        1      139      0      0.2      2   0     2
 238   77    1   0       125   304    0        0      162      1      0.0      2   3     2
 97    52    1   0       108   233    1        1      147      0      0.1      2   3     3

 [242 rows x 13 columns],
      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
 18    43    1   0       150   247    0        1      171      0      1.5      2   0     2
 260   66    0   0       178   228    1        1      165      1      1.0      1   2     3
 167   62    0   0       140   268    0        0      160      0      3.6      0   2     2
 279   61    1   0       138   166    0        0      125      1      3.6      1   1     2
 116   41    1   2       130   214    0        0      168      0      2.0      1   0     2
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
 290   61    1   0       148   203    0        1      161      0      0.0      2   1     3
 63    41    1   1       135   203    0        1      132      0      0.0      1   0     1
 148   44    1   2       120   226    0        1      169      0      0.0      2   0     2
 137   62    1   1       128   208    1        0      140      0      0.0      2   0     2
 115   37    0   2       120   215    0        1      170      0      0.0      2   0     2

 [61 rows x 13 columns],
 142    1
 121    1
 114    1
 14     1
 109    1
       ..
 302    0
 25     1
 11     1
 238    0
 97     1
 Name: target, Length: 242, dtype: int64,
 18     1
 260    0
 167    0
 279    0
 116    1
       ..
 290    0
 63     1
 148    1
 137    1
 115    1
 Name: target, Length: 61, dtype: int64]

In [106]:
# assigning subsets to train and test                     # 80% - train, # 20% - test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [107]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [108]:
X.shape

(303, 13)

In [109]:
len(heart_disease)

303

In [112]:
# train set      , # test set
X.shape[0] * 0.8, 303 - 242

(242.4, 61)